.container{
  height: 100%;
  padding: 20px 15px;
  .headers{
    padding: 0 15px;
    position: relative;
  }
  .org_title{
    text-align: center;
    font-weight: bold;
    & > div{
      font-size: 1.1rem;
    }
  }
  .gobackBtn{
    position: absolute;
    right: 0;
    top: 0;
  }
  .params_propertys{
    margin-top: 20px;
    & > div{
      margin-top: 15px;
    }
  }
}
