//用来定义一些公共样式类名
@import "constant.less";
//页面整体样式
.page_style_1 {
  padding: 0;
  background-color: @page_background_1;
  height: 100%;
  padding-top: 168px;
}

.vertical_center{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .page_style_1 {
    padding-top: 0
  }
}
