@font-face {
  font-family: 'iconfont';  /* project id 779568 */
  src: url('//at.alicdn.com/t/font_779568_ndkgbxmpzrn.eot');
  src: url('//at.alicdn.com/t/font_779568_ndkgbxmpzrn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_779568_ndkgbxmpzrn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_779568_ndkgbxmpzrn.woff') format('woff'),
  url('//at.alicdn.com/t/font_779568_ndkgbxmpzrn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_779568_ndkgbxmpzrn.svg#iconfont') format('svg');
}