@font-face {
  font-family: 'iconfont';  /* project id 779568 */
  src: url('//at.alicdn.com/t/font_779568_aszagf5n1yw.eot');
  src: url('//at.alicdn.com/t/font_779568_aszagf5n1yw.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_779568_aszagf5n1yw.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_779568_aszagf5n1yw.woff') format('woff'),
  url('//at.alicdn.com/t/font_779568_aszagf5n1yw.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_779568_aszagf5n1yw.svg#iconfont') format('svg');
}