@font-face {
  font-family: 'iconfont';  /* project id 779568 */
  src: url('//at.alicdn.com/t/font_779568_6c782ni3e9b.eot');
  src: url('//at.alicdn.com/t/font_779568_6c782ni3e9b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_779568_6c782ni3e9b.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_779568_6c782ni3e9b.woff') format('woff'),
  url('//at.alicdn.com/t/font_779568_6c782ni3e9b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_779568_6c782ni3e9b.svg#iconfont') format('svg');
}