.container{
  padding: 15px 20px;
  .headers{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .ellipsis{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .updateBtn{
    position: absolute;
    right: 20px;
  }
}
