.relyOnContainer {
  box-shadow:0px 1px 4px 0px rgba(0,0,0,0.09);
  margin: -16px -20px 16px;
  .re_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    line-height: 22px;
    padding: 12px 24px;
    .re_left {
      color: rgba(0, 0, 0, 0.45);
      letter-spacing: 1px;
      >span:nth-child(1) {
        margin-right: 8px;
        font-size: 16px;
      }
    }
    .re_right {
      color: #1890ff;
      cursor: pointer;
    }
  }
}
/* 依赖关系样式 E */