/* 依赖关系样式 S */
.matter_right {
  margin-right: 8px;
}
.matter_left {
  margin-left: 8px;
}
// 已完成
.com_complete {
  color: #1890FF;
}
// 划线
.line_through {
  text-decoration: line-through;
}
.matter_complete {
  display: inline-block; 
  width: 58px; 
  height: 26px;
  background: #D0EFB4; 
  border-radius: 4px;
  line-height: 26px;
  text-align: center; 
  color: #389E0D;
  margin-right: 12px;
}
.matter_incomplete {
  display       : inline-block;
  width         : 58px;
  height        : 26px;
  background    : rgba(0, 0, 0, 0.09);
  border-radius : 4px;
  line-height   : 26px;
  text-align    : center;
  color:rgba(0,0,0,0.65);
  margin-right: 12px;
}
.task_icon {
  width:50px;
  height:22px;
  background:rgba(230,247,255,1);
  border-radius:4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1890FF;
  justify-content: center;
  flex-shrink: 0;
}
.flow_icon {
  width:50px;
  height:22px;
  background:#F6FFED;
  border-radius:4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #389E0D;
  justify-content: center;
  flex-shrink: 0;
}
.select_t_title {
  color: rgba(0, 0, 0, 0.65);
}
.select_t_curr {
  color: rgba(0,0,0,0.25);
  font-weight:500;
}

.relyOnContainer {
  // min-height: 290px;
  // background: pink;
  box-shadow:0px 1px 4px 0px rgba(0,0,0,0.09);
  margin: -16px -20px 16px;
  // padding: 12px 24px;
  .re_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    line-height: 22px;
    padding: 12px 24px;
    .re_left {
      color: rgba(0, 0, 0, 0.45);
      letter-spacing: 1px;
      >span:nth-child(1) {
        margin-right: 8px;
        font-size: 16px;
      }
    }
    .re_right {
      color: #1890ff;
      cursor: pointer;
    }
  }
  .re_bottom {
    padding-bottom: 24px;
    .re_task_dependency_group {
      // padding: 12px 24px;
      .re_task_dependency_group_header {
        padding: 8px 48px;
        .re_title {
          color: rgba(0, 0, 0, 0.45);
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
      .re_task_dependency_item {
        display: flex;
        align-items: center;
        padding: 0px 24px 0px 48px ;
        margin-bottom: 8px;
        .dependency_task_info_wrap {
          flex: 1;
          align-items: center;
          overflow: hidden;
          height:40px;
          border-radius:4px;
          border:1px solid rgba(0,0,0,0.09);
          background:rgba(255,255,255,1);
          .dependency_task_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            overflow: hidden;
            height: 100%;
            padding: 0 12px;
            .task_info_left {
              display: flex;
              align-items: center;
              overflow: hidden;
              margin-right: 8px;
              letter-spacing: 1px;
              .task_info_name {
                color: rgba(0, 0, 0, 0.65);
                margin: 0px 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .date_info {
              color: rgba(0, 0, 0, 0.45);
              flex-shrink: 0;
            }
          }
        }
        .re_task_select {
          width:178px;
          height:40px;
          background:rgba(255,255,255,1);
          border-radius:4px;
          border:1px solid rgba(0,0,0,0.15);
          display: flex;
          align-items: center;
          overflow: hidden;
          padding: 10px 12px;
          justify-content: space-between;
          // .select_wrapper {
          //   width:178px;
          //   height:40px;
          //   border-radius:4px;
          //   :global {
          //     .ant-select-selection {
          //       height: 40px;
          //     }
          //     .ant-select-selection__rendered {
          //       line-height: 40px !important;
          //     }
          //   }
          // }
        }
      }
    }
  }
}
/* 依赖关系样式 E */