.container{
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  .container_title{
    .title{
      font-size: 1.1rem;
      font-weight: bold;
    }
    .qrcode_icon{
      float: right;
    }
    margin-bottom: 15px;
  }
  .chart_container{
    width: 100%;
    flex: 1;
  }
}
