.container {
  width: 100%;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-radius: 3px 3px 0 0;
  }

  .container_header {
    flex: none;
    background-color: #fff;
    padding: 8px 15px;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    height: 48px;
    z-index: 15;

    & > * {
      flex: 1;
    }

    // border-bottom: 1px solid rgba(1, 3, 31, 0.15);
    // margin-bottom: 12px;
  }

  .size_change {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .container_content {
    flex: 1;
    // overflow-y: auto;
    display: flex;
    margin-left: 10vw;
  }

  .content_board_group {
    flex: none;
    width: 10vw;
    border-right: 1px solid rgba(209, 213, 228, 1);
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    background: #fff;
    z-index: 10;
    position: absolute;
    top: 48px;
    height: calc(~'100% - 65px');
  }

  .content_overview {
    flex: 1;
    // overflow-x: auto;
    display: flex;
    flex-direction: column;
    // overflow-x: auto;
  }
}
