.wrapperInfo{
    min-height: 175px;
    position: relative;
    z-index: 1100;
}

.add_header {
    width: 76px;
    margin-bottom: 16px;
    cursor: pointer;
    .icon {
        font-size: 14px;
        color: #1890FF;
    }
    .text {
        font-size: 14px;
        color: #1890FF;
        margin-left: 4px;
    }
}

.content { 
    cursor: pointer;
    .slip{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        cursor: pointer;
        .select {

        }
    }
    .del {
        cursor: pointer;
        &:hover {
            color: #1890FF;
        }
    }
    .overdue {
        color: #FAAD14;
        cursor: pointer;
    }
    .checked {
        color: #52C41A;
        cursor: pointer;
    }
}