.container {
  display: flex;
  pointer-events: all;
  & > span,
  & > div {
    width: 22px;
    font-size: 1.2rem;
    cursor: pointer;
    &:not(.disabled):hover {
      color: #86b3ff;
    }
  }
  .disabled {
    cursor: not-allowed;
    color: #999;
  }
}
