.drag_out {
  position: absolute;
  height: 36px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2edff;
  // border: 2px solid #5087ff;
  border-radius: 5px;
  pointer-events: all;
}
.opration{
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'iconfont';
}
.drag_area {
  background-color: #86b3ff;
  color: #ffffff;
  width: 20px;
  height: 20px;
  position: absolute;
  font-size: 0.6rem;
  text-align: center;
  line-height: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 0;
}

.drag_left {
  left: -27px;
}

.drag_right {
  right: -18px;
}

.drag_area:hover {
  background-color: #96d8ff;
}

.backMask {
  height: 32px;
  width: 32px;
  // background: #ffffff;
  position: absolute;
  right: -32px;
  top: -3px;
  // border-radius: 0 24px 24px 0;
  // z-index   : 1;
}
.backMask_1 {
  height: 26px;
  width: 30px;
  top: -2px;
  right: -30px;
}

.group_childs_wrapper {
  background-color: #ffffff;
  // height          : 200px;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 20px;

  .empty_out {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;

    .empty {
      height: 64px;
      color: #788991;
      font-size: 64px;
      line-height: 64px;
    }
  }
}
