.drag_out {
    position       : absolute;
    height         : 36px;
    top            : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 1px solid #5087FF;
    border-radius  : 36px;
}

.drag_area {
    background   : rgba(167, 176, 192, 0.5);
    color        : #ffffff;
    width        : 24px;
    height       : 24px;
    position     : absolute;
    // top          : 6px;
    border-radius: 24px;
    text-align   : center;
    line-height  : 24px;
}

.drag_left {
    left: -27px;
}

.drag_right {
    right: -27px;
}

.drag_area:hover {
    background-color: #96D8FF;
}