@import "../../globalset/css/constant";
.organizationOut {
  background-color: #FFFFFF;
  .main{
    width: 700px;
    height: auto;
    margin: 0 auto;
  }
  .back {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #E8E8E8;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    width: 68px;
    text-align: center;
  }
  .topTitle{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    div{
      margin-top: 20px;
      text-align: center;
      font-size: 24px;
      color: @color_2;
    }
  }
}
