@import "../../../../../globalset/css/constant";
.person_news_out{
  background-color: #ffffff;
  height: 60px;
  //position: fixed;
  position: relative;
  top: 0;
  z-index: 1;
  border: 1px solid rgba(217,217,217,1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
  border-radius: 0 0 4px 4px;
  padding: 0 16px;
  .contain1{
    height: 52px;
    display: flex;
    align-items: center;
    .contain1_one{
      font-size: 14px;
      color: #8C8C8C;
      margin-right: 12px;
      cursor: pointer;
    }
    .contain1_one:hover {
      color: #262626;
    }
  }
}
