.processOut {
  padding-top: 32px;
  padding-left: 20px;
  .processDefautOut {
    .processDefautOut_top {
      height: 280px;
      background: pink;
      .title {
        width:54px;
        height:26px;
        font-size:18px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(0,0,0,0.65);
        line-height:26px;
      }
      .templateContent {
        padding-top: 18px;
        padding-left: 64px;
        .addTemplate {
          display: inline-block;
          .add_icon {
            display: block;
            width:106px;
            height:136px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(0,0,0,0.15);
            text-align: center;
            line-height: 106px;
            font-size: 50px;
            margin-bottom: 10px;
          }
          .add_name {
            display: block;
            text-align: center;
          }
        }
        
      }
    }
  }
}