.board_group_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .container_title_top{
    height: 108px;
    border-bottom: 2px solid rgba(0,0,0,0.04);
    position: sticky;
    top: 48px;
    z-index: 10;
    canvas {
      background-color: #fff;
    }
  }
  .container_content{
    // border-top: 2px solid rgba(0,0,0,0.04);
    // background-color: rgba(1, 3, 31, 0.02);
    // min-height: 100px;
    height: 100%;
    flex: 1;
  }
  .tree_data_tabs{
    min-height: 60px;
    font-weight: bold;
    // background-color: aqua;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed rgba(0,0,0,0.08);
    &.active{
      background-color: rgba(226, 237, 255,0.3); //rgba(0, 0, 0, 0.02);
    }
  }
}
