@import '../../common/common.less';

.city_list {
    width: 740px;
    margin: 16px auto;
    background:rgba(255,255,255,1);
    padding: 24px;
    max-height: 292px;
    margin-bottom: 16px;
    // background: pink;
    .wrapper {
        display: flex;
        justify-content: space-between;
        .position {
            width:15px;
            height:20px;
            background:rgba(0,0,0,0.45);
            margin-left: 8px;
        }
    }
}

:global {
    .ant-select {
        width: 120px;
        height: 32px;
        margin-right: 8px;
    }
}
