.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // 头部左边 S
  .header_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .header_icon {
      width: 68px;
      height: 30px;
      background: #e6f7ff;
      border-radius: 4px;
      margin-right: 12px;
      text-align: center;
      line-height: 30px;
      color: #69c0ff;
    }
  }
  // 头部左边 E

  // 头部右边 S
  .header_right {
    // background: rosybrown;
    min-width: 500px;
    // height: 38px;
    flex-shrink: 0;
    // line-height: 38px;
  }
  .header_rightMenuWrapper {
    display: flex;
    align-items: center;
    .margin_right10 {
      margin-right: 10px;
    }
  }
  // 头部右边 E
}
