.wallpaperSelectWapper {
    position: absolute;
    bottom  : 24px;
    width   : 100%;

    .wallpaperSelector {
        display      : flex;
        position     : relative;
        width        : 120px;
        margin       : 0 auto;
        height       : 28px !important;
        line-height  : 28px !important;
        //background : rgba(0, 0, 0, 1);
        text-align   : center;
    }
}