<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="聆悉,聆悉协作,协同,协作办公" />
    <meta name="description" content="专注协作办公领域" />
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <title>聆悉</title>
    <link rel="shortcut icon" href="static/bitbug_favicon.ico" />
    <link rel="stylesheet" href="./lingxi_loading_page.css" />
    <link rel="stylesheet" href="./luckysheet/css/main.min.css" />
    <link rel="stylesheet" href="./luckysheet/plugins/plugins.min.css" />
    <link rel="stylesheet" href="./luckysheet/plugins/css/pluginsCss.min.css" />
  </head>
  <script>
    // alert('head')
  </script>
  <body>
    <div
      class="skeleton_home_wrapper bg_img"
      id="skeleton_home_wrapper"
      style="display: none;"
    >
      <div class="skeleton_home_content">
        <div class="skeleton_home_content_lf">
          <div class="skeleton_home_content_lf_top"></div>
          <div class="skeleton_home_content_lf_item"></div>
          <div class="skeleton_home_content_lf_item"></div>
          <div class="skeleton_home_content_lf_item"></div>
        </div>
        <div class="skeleton_home_content_rt">
          <div class="skeleton_home_content_rt_box"></div>
          <div class="skeleton_home_content_rt_box"></div>
          <div class="skeleton_home_content_rt_box"></div>
        </div>
      </div>
    </div>
    <!-- <div class="skeleton_workbench_wrapper"></div>

    <div></div> -->
    <script>
      // alert('body')
      // 为了过渡加载过程缓慢,骨架屏
      if (!!window.mapAndroid) {
        if (
          window.location.hash.indexOf('#/technological/simplemode/home') != -1
          // window.location.hash.indexOf('#/login') != -1
        ) {
          document.getElementById('skeleton_home_wrapper').style.display =
            'block'
        } else if (
          window.location.hash.indexOf(
            '#/technological/simplemode/workbench'
          ) != -1
        ) {
        }
      }
    </script>
    <div id="root"></div>
    <div
      id="message_mout_parent"
      style="position: relative; z-index: 100000"
    ></div>
  </body>
  <script>
    window.onload = function() {
      // alert('loaded')
      setTimeout(function() {
        if (!!window.mapAndroid) {
          document.getElementById('skeleton_home_wrapper').style.display =
            'none'
        }
      }, 300)
      setTimeout(function() {
        var secScript2 = document.createElement('script')
        secScript2.setAttribute('type', 'text/javascript')
        secScript2.setAttribute('src', './luckysheet/plugins/js/plugin.min.js')
        document.body.insertBefore(secScript2, document.body.lastChild)

        var secScript3 = document.createElement('script')
        secScript3.setAttribute('type', 'text/javascript')
        secScript3.setAttribute('src', './luckysheet/main.min.js')
        document.body.insertBefore(secScript3, document.body.lastChild)

        var secScript = document.createElement('script')
        secScript.setAttribute('type', 'text/javascript')
        secScript.setAttribute('src', './pdf/build/pdf.js')
        document.body.insertBefore(secScript, document.body.lastChild)
        pdfjsLib.GlobalWorkerOptions.workerSrc = './pdf/build/pdf.worker.js'
      }, 3000)
    }
  </script>
</html>
