/* #lingxi_html_loading_page {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 200000;
  background: #5f8de0 url('static/lingxi_loading_page.jpg') no-repeat 0 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
}

.lingxi_html_loading_page_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lingxi_html_loading_page_logo {
  height: 80px;
  width: 80px;
}
.lingxi_html_loading_page_logo img {
  width: 100%;
  height: 100%;
}
.lingxi_html_loading_page_dec {
  font-size: 32px;
  color: #ffffff;
  margin-top: 10px;
}
.lingxi_html_loading_page_tip {
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}
.lingxi_html_loading_page_progress_wrapper {
  width: 170px;
  height: 16px;
  background: #ffffff;
  border-radius: 12px;
  margin-top: 40px;
  overflow: hidden;
}
.lingxi_html_loading_page_progress {
  width: 10px;
  height: 16px;
  background: linear-gradient(45deg, #5ba7ff 0%, #b5f9ff 100%);
}
@keyframes lingxi_html_loading_page_hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lingxi_html_loading_page_hide {
  animation: lingxi_html_loading_page_hide 300ms ease;
  opacity: 0;
} */

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* .item span {
  animation: showimg 4s infinite linear;
} */

.bg_img {
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-color: #ff7700; */
  background-color: #43aabc;
  background-image: url('../src/assets/simplemode/index_default_bg.svg');
}

.skeleton_home_wrapper,
.skeleton_workbench_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 200000;
  /* display: none; */
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
}

.skeleton_home_content {
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 800px;
  border-radius: 6px;
  border-radius: 0px 8px 8px 0px;
  height: 450px;
  display: flex;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}
.skeleton_home_content_lf,
.skeleton_home_content_rt {
  height: 450px;
  overflow: auto;
}
.skeleton_home_content_lf {
  width: 248px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 6px 0 0 6px;
  padding: 8px 0;
}

.skeleton_home_content_rt {
  flex: 1;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 0 6px 6px 0;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.skeleton_home_content_lf_top {
  height: 48px;
}
.skeleton_home_content_lf_item {
  height: 46px;
  width: 100%;
}

.skeleton_home_content_lf_item {
  background-color: rgba(255, 255, 255, 0.1);
  /* background-image: linear-gradient(
    90deg,
    rgba(87, 84, 84, 0.15) 25%,
    #c9c3c3 37%,
    rgba(87, 84, 84, 0.15) 25%
  ); */
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 25%,
    #c9c3c3 37%,
    rgba(255, 255, 255, 0.1) 25%
  );
  width: 100%;
  height: 48px;
  margin-top: 6px;
  list-style: none;
  background-size: 400% 100%;
  background-position: 100% 50%;
  /* animation: skeleton-loading 1.4s ease infinite; */
}

.skeleton_home_content_rt_box {
  width: 136px;
  height: 136px;
  border-radius: 6px;
  padding-top: 18px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(
    90deg,
    rgba(87, 84, 84, 0.15) 25%,
    #c9c3c3 37%,
    rgba(87, 84, 84, 0.15) 25%
  );
  background-size: 400% 100%;
  background-position: 100% 50%;
  /* animation: skeleton-loading 1.4s ease infinite; */
}
