.path {
    cursor  : pointer;
    position: relative;
    z-index : 1 !important;
}

.path_g:hover {
    .path_arrow {
        stroke-width: 2;
        stroke      : rgb(227, 142, 146);
        fill        : rgb(227, 142, 146);
    }

    .path_line {
        stroke      : rgb(227, 142, 146);
        stroke-width: 2;
    }
}

.path_line:hover {}

.path_arrow:hover {}