// 这是头部图标的样式
.header_icon {
  display: inline-block;
  width:68px;
  height:30px;
  background:rgba(230,247,255,1);
  border-radius:4px;
  text-align: center;
  line-height: 30px;
  i {
    font-size: 16px;
    color: #69C0FF;
    font-style: normal;
  }
  .title_icon {
    margin-right: 4px;
    vertical-align: middle;
    font-size: 20px;
  }
}

// 这是面包屑小导航的样式
.bread_nav {
  // cursor: pointer;
  .bread_board_name{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65)
  }
  .bread_org_name {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45)
  }
  .bread_list_name {
    color: rgba(0, 0, 0, 0.65)
  }
  .arrow {
    color: rgba(0, 0, 0, 0.25)
  }
  // &:hover {
  //   .bread_board_name, .bread_org_name, .bread_list_name {
  //     color: #40A9FF;
  //   }
  // }
}

// 右边导航部分的样式
.right_menu {

}