/* 公共hover的样式 */
.pub_hover:hover {
  background:rgba(0,0,0,0.04);
  cursor: pointer;
  border-radius:4px;
  // padding-left: 12px;
}
/* 公共点击完成卡片的样式 */
.nomalCheckBox{
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 12px;
  border: 2px solid #8c8c8c;
  border-radius: 4px;
}
.nomalCheckBoxActive{
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 12px;
  border: 2px solid #1890ff;
  background-color: #1890ff;
  border-radius: 4px;
}

/* 内容区的容器样式 S */
.main_wrap {
  padding-top: 16px;
  padding-right: 20px;
  /* 标题部分 S */
  .title_content {
    display: flex;
    // align-items: center;
    .card_name {
      font-size:20px;
      font-family:PingFangSC-Medium,PingFangSC;
      font-weight:500;
      color:rgba(0,0,0,0.85);
      line-height:28px;
      flex: 1;
      padding-left: 12px;
      height: 44px;
      line-height: 44px;
    }
  }
  /* 标题部分 E */
}

/* 内容区的容器样式 E */