
.wrapNormalModal {
  overflow: hidden;
  margin-right: 54px;
  :global{
    .ant-modal-body{
      padding: 12px;
    }
  }
}

.wrapActiveModal {
  overflow: hidden;
  margin-right: 300px;
  :global{
    .ant-modal-body{
      padding: 12px;
    }
  }
}
