html,
body { height: 100%; padding: 0; margin: 0; }

//头部
.headout {
  cursor: pointer;
  width: 100%;
  height: 108px;
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid #E8E8E8;
  .left{
    margin-left: 20px;
    .displayProjectinfo{
      height: 20px;
      border: 1px solid rgba(217,217,217,1);;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      width: 108px;
      border-radius: 20px;
      color: #8c8c8c;
      margin: 16px 0 0 60px;
    }
    .projectNameIcon{
      font-size: 20px;
      color: #BFBFBF;
    }
    .projectNameIcon:hover{
      color: #595959;
    }
    .projectName{
      font-size: 20px;
      color: #262626;
      margin-left: 40px;
    }
  }
  .right{
    margin-right: 4px;
    .right_top{
      font-size: 16px;
      color: #BFBFBF;
      span{
        margin-left: 30px;
      }
    }
    .right_bott{
      font-size: 14px;
      text-align: right;
      color: #BFBFBF;
    }
  }
}

//下拉菜单
.elseProjectMemu{
  padding: 4px 10px;
}
.elseProjectDangerMenu{
  width: 100%;
  height: 100%;
  color: #F5222D ;
  padding: 4px 10px;

}
.elseProjectDangerMenu:hover ,.elseProjectDangerMenu:active{
  background: #FFE7E8;
}

//项目详细信息
.detailInfo{
  width: 372px;
  background-color: #FFFFFF;
  flex: 1;
}
