.addTaskModalContent {
  .addTaskModalSelectProject {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    .addTaskModalSelectFileFolder {
      margin-right: auto;
      margin-top: -5px;
      margin-left: 10px;
      .ant-input {
        height: 22px !important;
        border: none !important;
      }
      .ant-input:hover {
        border: none !important;
      }
    }
  }
  .addTaskModalTaskTitle {
    margin-bottom: 8px;
  }
  .addTaskModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .addTaskModalOperator {
      max-width: 80%;
    }
    .confirmBtn {

    }
    .confirmBtnRight {
      margin-left: auto;
    }
  }
}

