.addTaskModalContent {
  .addTaskModalSelectProject {
    margin-bottom: 12px;
  }
  .addTaskModalTaskTitle {
    margin-bottom: 8px;
  }
  .addTaskModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .addTaskModalOperator {
      max-width: 80%;
    }
    .confirmBtn {

    }
  }
}

