.submilestone_container{
  display: flex;
  border-bottom: 1px dashed rgba(1, 3, 31, 0.25);
  .container_submilestone{
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .submilestone_item_mini{
    background-color: rgba(149, 222, 100, 1);
    border-radius: 3px;
    width: 100%;
  }
  .submilestone_item_large{
    background-color: #fff;
    padding: 2px 5px;
    border-left: 4px solid rgba(82, 196, 26, 1);
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    .large_title{
      font-weight: bold;
    }
    .sub_large_title{
      color: rgba(1, 3, 31, 0.45);
      font-size: 12px;
      display: inline;
      background-color: rgba(216, 216, 216, 0.3);
    }
  }
  .group_milestone{
    justify-content: flex-start;
    align-items: flex-start;
  }
}
