.wrapper {
  position: relative;
  outline: 1px solid red;
}
.content_wrapper {
  width: 100%;
  height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // overflow: auto;
  // overflow-y: scroll;
  overflow: hidden;
}

.content_wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.content_wrapper::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #bfbfbf;
  background: #bfbfbf;
}
.content_wrapper::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #e8e8e8;
  border-radius: 8px;
  background: #e8e8e8;
}
.img_wrapper {
  display: inline-block;
  position: relative;
}
.content_img {
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
}
.operatorBarWrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 376px;
  height:40px;
  background:rgba(89,89,89,0.8);
  border-radius:4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  transition: all .3s;
}
.operatorBarWrapperOpacity {
  opacity: 0;
  transition: all .3s;
}
.operatorBarCell {
  user-select: none;
  cursor: pointer;
  height:20px;
  line-height:20px;
  font-size:14px;
  font-weight:400;
  color:rgba(255,255,255,1);
}

.operatorBarCell:hover {
  color: #1890FF;
}
