:global{
  .prnt_body{
    width: 768px;
    margin: 0 auto;
    margin-bottom: 30px;
    // page-break-inside: avoid;
    break-before: page;
    break-after: page;
    page-break-after: always;
    page-break-before: always;
    position: relative;
    // page-break-after:always;
    // break-inside: auto;
  }
  .print-after{
    page-break-after: always;
  }
  .print-before{
    page-break-before: always;
  }
  // table tr {
  //   page-break-before: always;
  //   page-break-after: always;
  //   page-break-inside: avoid;
  // }
  .operation_btns{
    position: absolute;
    right: 10px;
    top: 10px;
    .tableSize{
      width: 100px;
    }
  }
  @media print {
    .prnt_body{
      width: 100%;
      margin: 0 auto;
    }
    .operation_btns{
      display: none;
    }
  }
  .print_title{
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
  }
  .order_propertys{
    margin-bottom: 10px;
    margin-top: 15px;
    & > div{
      margin-bottom: 10px;
    }
  }
  .order_table{
    margin-top: 20px;
    table{
      border-collapse:collapse;
      width: 100%;
      text-align: left;
      td, th{
        padding: 8px 10px;
        border-bottom:1px solid rgba(0,0,0,0.6);
      }
    }
  }
  .notsettlement{
    color: rgba(255, 129, 129, 1);
  }
  .settlement{
    color:  rgba(70, 164, 125, 1);
  }
}
