.meeting_container{
  :global{
    .ant-table-fixed-left table, .ant-table-fixed-right table{
      width: min-content;
    }
  }
  .manageTabs{
    display:  inline-flex;
    text-align: center;
    & > div{
      padding: 10px 15px;
      cursor: pointer;
      &.active{
        border-bottom: 2px solid rgba(90, 134, 245, 1);
      }
    }
  }
  height: 100%;
  .downloadPakage{
    float: right;
    margin-top: 5px;
  }
  .operation_btns a{
    margin-left: 15px;
  }
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  .meeting_container_title{
    color: #474A5B;
    padding: 0px 20px;
    background-color: #F5F7FA;
    box-shadow: 0 1px 1px #D0D3E2;
    flex: none;
  }
}
