.drop_card {
  width: 248px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 12px;
  margin-top: 8px;
}
.drop_card .specific_example_content {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.drop_card .specific_example_content .card_item_name {
  flex: 1;
}
.drop_card .time_area {
  width: auto;
  border-radius: 4px;
  line-height: 22px;
  padding: 4px;
  color: #ffffff;
  margin-top: 12px;
}
.triangle {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 119px;
}
.triangle:after {
  content: '';
  top: 0;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-left: -10px;
  z-index: -1;
  filter: blur(1px);
}
