.nomalCheckBox{
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 12px;
  border: 2px solid #8c8c8c;
  border-radius: 2px;
  margin-top: 4px;
  margin-right: 10px;
}
.nomalCheckBoxActive{
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 12px;
  border: 2px solid #1890ff;
  background-color: #1890ff;
  border-radius: 2px;
  margin-top: 4px;
  margin-right: 10px;
}

.DrawerContentOut{
  width: 100%;
  padding: 0 20px;
  .divContent_1{
    padding-left: 34px;
  }
  .contain_1{
    display: flex;
    justify-content: space-between;
    .left, .right {
      height: 24px;
      line-height: 24px;
      background: #F5F5F5;
      border-radius: 4px;
      color: #8c8c8c;
      padding: 0 10px;
    }
  }
  .divContent_2{
    padding-left: 0;
  }
  .contain_2{
    display: flex;
    font-size: 20px;
    color: #262626;
    margin-top: 10px;
    cursor: pointer;
    .contain_2_title{
      flex: 1;
    }
  }
  .contain_3{
    margin-top: 10px;
    font-size: 14px;
    color: #BFBFBF;
    span{
      color: #8c8c8c;
    }
  }
  .contain_4{
    margin-top: 10px;
    font-size: 14px;
    color: #595959;
  }
  .editorWraper{
    background: #FFFFFF;
    margin-top: 10px;
    margin-left: 30px;
    color: #595959;
    font-size: 14px;
    border: 1px solid rgba(217,217,217,1);
    border-radius: 4px;  }
  .contain_5{
    margin-top: 20px;
    font-size: 14px;
    color: #d9d9d9;
    display: flex;
    .contain_5_add{
      height: 22px;
      width: 64px;
      padding: 0;
      cursor: pointer;
    }
    .contain_5_add:hover {
      border: 1px dashed rgba(217,217,217,1);;
      text-align: center;
      border-radius: 2px;
    }
  }
  .contain_6{
    margin-top: 20px;
    font-size: 14px;
    color: #d9d9d9;
    display: flex;
    .contain_6_add{
      height: 22px;
      width: 100px;
      padding: 0;
      cursor: pointer;
      box-sizing: border-box;
    }
    .contain_6_add:hover {
      border: 1px dashed rgba(217,217,217,1);;
      text-align: center;
      border-radius: 2px;
    }
  }
  .spaceLine{
    border: 1px solid rgba(232,232,232,1);
    margin-top: 20px;
  }
}
