.add_btn {
  color: #1890ff;
  min-width: 76px;
  margin-bottom: 16px;
  cursor: pointer;
}
.warning_block {
  padding: 0 12px;
  border-radius: 4px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
