.container {
  display: flex;
  flex-direction: column;
  .heander_search {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    height: 53px;
    .serach_forms{
      &.hasMoreSearch{
        & > *{
          flex: 1;
        }
      }
      flex: 1;
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width        : 4px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height       : 8px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius     : 5px;
        -webkit-box-shadow: inset 0 0 5px #bfbfbf;
        background        : #bfbfbf;
      }

      &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px #E8E8E8;
        border-radius     : 8px;
        background        : #E8E8E8;
      }
    }
    .calendarSelection{
      text-align: right;
      min-width: 400px;
    }
  }
  .calendar {
    :global {
      .ant-fullcalendar-header {
        display: none;
      }
      .ant-fullcalendar-value {
        float: right;
        margin-left: 10px;
        font-weight: bold;
      }
      .ant-fullcalendar-today {
        .ant-fullcalendar-value {
          &::after {
            content: '';
            position: absolute;
            right: -3px;
            top: 2px;
            width: 20px;
            height: 20px;
            border-radius: 99px;
            background-color: #5a86f5;
            z-index: -1;
          }
          position: relative;
          z-index: 2;
          color: #fff;
        }
      }
    }
  }
  .content {
    padding: 10px 15px;
    padding-left: 0;
    display: flex;
    flex: 1;
    overflow-y: auto;
  }
  .content_calendar {
    flex: 1;
    padding-top: 20px;
  }
  .content_left_tree {
    overflow-x: auto;
    width: 20vw;
  }
  .loadingPage {
    width: 100%;
    height: 500px;
  }
  .more_datas {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f5f7fb;
    color: #5a86f5;
    font-size: 12px;
    width: 100%;
    padding: 3px 0;
    text-align: center;
  }
  :global {
    .ant-fullcalendar-date {
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }
    .ant-fullcalendar-value {
      position: absolute;
      right: 11px;
      top: 1px;
    }
    .ant-fullcalendar-content{
      height: 100%;
      &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width        : 4px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height       : 8px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius     : 5px;
        -webkit-box-shadow: inset 0 0 5px #bfbfbf;
        background        : #bfbfbf;
      }

      &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px #E8E8E8;
        border-radius     : 8px;
        background        : #E8E8E8;
      }
    }
  }
}
.moreOverlay {
  :global {
    .ant-popover-inner-content {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }
}
.celldate_container {
  padding: 2px 0;
  padding-left: 8px;
  cursor: pointer;
  display: flex;
  width: 100%;
  .date_content {
    padding-right: 30px;
    margin-left: 2px;
    padding-left: 5px;
    width: 88%;
    border-left: 1px solid transparent;
    // min-height: 39px;
    flex: 1;
    & > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &:hover {
    color: #5a86f5;
    .date_content{
      border-left: 1px solid #5a86f5;
    }
  }
}
.subcelldate_title {
  color: #9ea6c2;
  font-size: 12px;
}
.date_celltype {
  font-size: 1.1rem;
}
.popcontent {
  width: 300px;
}
.popcontent_header {
  position: relative;
  margin-bottom: 6px;
  background-color: #5a86f5;
  color: #fff;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.popclose {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}
.selection_subtitle {
  font-size: 12px;
  color: #9ea6c2;
}
.legend {
  cursor: pointer;
  margin-right: 15px;
  font-size: 1.2rem;
  color: #7c83a1;
}
.legend_content {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  .legend_icon {
    width: 18px;
    margin-right: 10px;
    font-size: 1.2rem;
    text-align: left;
  }
}
.month_date{
  border-top: 2px solid rgba(0,0,0,0.2);
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover{
    background-color: #e6f7ff;
  }
  .month_date_content{
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 35px;
  }
  display: flex;
  height: 180px;
  width: 98%;
  &.active{
    border-top-color: #1890ff;
    background-color: #e6f7ff;
  }

  .month_date_number{
    position: absolute;
    right: 13px;
    top: 10px;
    font-weight: bold;
  }
  .active_month{
    z-index: 1;
    color: #fff;
    &::after {
      content: '';
      position: absolute;
      right: -5px;
      top: -3px;
      width: 30px;
      height: 30px;
      border-radius: 99px;
      background-color: #5a86f5;
      z-index: -1;
    }
  }
}
