.wrapper {

}
.breadCrumbWrapper {
  width: calc(100% - 6px);
  position: absolute;
  margin-bottom: 5px;
  padding: 2px;
  background: #F8F8F8;
}
.breadCrumbItem {
  cursor: pointer;
  user-select: none;
  color: #1890FF;
}
.folderListWrapper {
padding-top: 35px;
}

.folderListItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 5px;
}
.folderListItemIconWrapper {
}

.folderListItemIcon {
  color: #1890FF;
  margin-right: 8px;
}

.folderListItemTitle {
  font-size: 14px;
}

.fileListWrapper {

}

.fileListItemWrapper {
  margin-top: -8px;
}
