<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="聆悉,聆悉协作,协同,协作办公">
  <meta name="description" content="专注协作办公领域">
  <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
  <title>聆悉</title>
  <link rel="shortcut icon" href="../public/img/bitbug_favicon.ico">
  <link rel="stylesheet" href="./luckysheet/css/main.min.css">
  <link rel="stylesheet" href="./luckysheet/plugins/plugins.min.css">
  <link rel="stylesheet" href="./luckysheet/plugins/css/pluginsCss.min.css">
  <script src="./luckysheet/plugins/js/plugin.min.js"></script>
  <script src="./luckysheet/main.min.js"></script>
</head>

<body>
  <div id="root"></div>
  <div id='message_mout_parent' style="position: relative; z-index: 100000"></div>
</body>

</html>