.news_item {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(0,0,0,0.45);
  line-height: 22px;
  margin: 24px 0;
  span {
    margin-right: 2px;
  }
  .news_text {
    flex: 1;
    flex-wrap: wrap;
    margin-right: 40px;
  }
  .news_creator {
    font-weight: 900;
    margin-right: 2px;
  }
  .news_card_name {
    font-weight: 900;
    margin-left: 2px;
  }
}