.fileDetailOut{
  position: fixed;
  width: 100%;
  min-width: 1200px;
  background-color: #F5F5F5;
  z-index: 1008;
}
.fileDetailHead{
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fileDetailHeadLeft{
    max-width: 60%;
  }
  .fileDetailHeadRight{
    display: flex;
    align-items: center;
    color: #595959;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fileDetailContentOut{
  height: 100%;
  display: flex;
  .fileDetailContentLeft {
    flex: 1;
  }
  .fileDetailContentRight{
    width: 420px;
    height: 100%;;
    background-color: #FFFFFF;
    .fileDetailContentRight_top{
      padding: 40px 20px;
      background-color: #F5F5F5;
      color: #8c8c8c;
      .versionInfoList{
        margin-top: 10px;
        .versionInfoListItem{
          cursor: pointer;
          margin-top: 12px;
          color: #595959;
          font-size: 12px;
          display: flex;
          align-items: center;
          >div{
            margin-right: 12px;
          }
          .point{
            background: #1890FF;
            width: 4px;
            height: 4px;
            margin-right: 4px;
            border-radius: 4px;
          }
          .point2{
            background: #F5F5F5;
            width: 4px;
            height: 4px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
