.whiteboard_rooms{
  width: 100%;
  height: 100%;
  position: relative;
  .room_list{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board_white_content{
    .loading_spin{
      flex: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,0.6);
      z-index: 15;
    }
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    & > div:first-child{
      flex: 1;
    }
  }
  .room_content{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .room_list_flex{
    display: flex;
    flex-wrap: wrap;
  }
  .room_icon{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    height: 60px;
    font-size: 2.2em;
    line-height: 60px;
    background-color: rgba(158, 166, 194, 0.3);
    color: #fff;
    border-radius: 8px;
    text-align: center;
  }
  .room_list_item{
    cursor: pointer;
    width: 25%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .room_list_item_add{
    .room_list_item_detail{
      background-color: rgba(245, 247, 250, 1);
    }
  }
  .room_title{
    text-align: center;
    span{
      font-size: 1.3em;
      color: #000;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .room_msg_title{
    font-size: 1.2em;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: normal;
    white-space: nowrap;
  }
  .room_msg{
    &.disabled_item{
      background-color: rgba(106, 113, 145, 0.4);
      color: rgba(255,255,255,0.65);
    }
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(106, 113, 145, 0.7);
    color: #fff;
    width: 100%;
    padding: 3px 8px;
    height: 60px;
  }
  .room_status{
    font-size: 0.6em;
    margin-left: 5px;
  }
  .room_list_item_detail{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    height: 80%;
    box-shadow: 0 6px 16px rgba(134, 140, 164, 0.2), 0 -6px 16px rgba(134, 140, 164, 0.2);
    // border: 1px solid red;
  }
  .reLoadBtn{
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    cursor: pointer;
    top: 15px;
  }
  .settings{
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 10px;
    .invitation{
      font-size: 1.6em;
      span{
        cursor: pointer;
        display: inline-block;
        width: 34px;
        height: 34px;
        color: #fff;
        text-align: center;
        line-height: 34px;
        border-radius: 99px;
        background-color: rgba(158, 166, 194, 1);
      }
    }
  }
}

:global{
  #whiteBoardCanvas{
    width: 100%;
    height: 100%;
  }
}

.modal_confirm{
  width: 100%;
  height: 100%;
  background-color: transparent;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  .modal_content{
    position: absolute;
    box-shadow: 0px 16px 30px 0px rgba(102, 144, 255, 0.08), 0px 8px 30px 0px rgba(87, 92, 118, 0.08);
    top:  100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    width: 500px;
    padding: 8px 20px;
    color: #fff;
    background-color: #fff;
    .save_name, .save_path, .save_board{
      margin-bottom: 20px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      .label_name{
        text-align: right;
        // display: inline-block;
        width: 80px;
        color: rgba(106, 113, 145, 1);
        padding-right: 15px;
      }
    }

    .save_btn{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      button {
        margin-left: 20px;
      }
    }
  }
}


.WhiteBoardRoom_container{
  flex: none;
  &.minWidth{
    width: 80%;
  }
  &.maxWidth{
    width: 100%;
  }
  // width: 100%;
  height: 100%;
  position: relative;
  .whiteboard_rightOperation{
    position: absolute;
    right: 55px;
    top: 8px;
    z-index: 10;
    cursor: pointer;
    padding: 5px 15px;
    color:#FFF;
    background-color: rgba(158, 166, 194, 1);
    border-radius: 50px;
  }
}
.WhiteBoardRoom_close{
  position: absolute;
  right: 20px;
  top: 5px;
  color: #fff;
  font-size: 1.6em;
  z-index: 10;
  // padding: 10px;
  cursor: pointer;
  &.hideFiles{
    color: rgba(0,0,0,0.6);
  }
}
.addRoomContent{
  width: 80%;
  text-align: center;
  input{
    margin: 30px 0;
  }
  button{
    margin-top: 30px;
  }
  .addRoomTitle{
    font-size: 1.3em;
    font-weight: bold;
  }
}
