@import '../../common/common.less';
// .mainContainer {
//     width: 740px;
//     margin: 16px auto;
//     background:rgba(255,255,255,1);
//     min-height: 1000px;
    .list {
        display: flex;
        flex-wrap: wrap;
        width: 682px;
        // background: pink;
        margin: 0 auto;
        padding: 30px 46px 8px 46px;
        border-bottom: 1px solid rgba(0,0,0,0.09);
        // border-color: rgba(0,0,0,0.09);
        .hotTabs {
            width: 16%;
            height: 34px;
            // background:rgba(24,144,255,1);
            border-radius:18px;
            color: rgba(0,0,0,0.85);
            text-decoration: none;
            text-align: center;
            line-height: 34px;
            margin-bottom: 16px;
            font-family:'PingFangSC-Regular';
            cursor: pointer;
        }
        .current {
            background:rgba(24,144,255,1);
            color: #fff;
        }
        
    }
// }
