.row_srip {
    position: absolute;
    z-index: 0;
    box-sizing: border-box;
    left: 0;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    // background:rgba(255,255,255,1);
    border-radius:4px;
    padding: 2px 2px;
    overflow: hidden;
}
.row_srip_on_hover {
    background:rgba(24,144,255,0.15);
}