.custom_hr {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
  line-height: 1;
}

.field_item {
  margin-bottom: 12px;
}

.label_name {
  display: block;
  margin-bottom: 8px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(0,0,0,0.45);
  line-height:22px;
}

.input_delete_icon {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: 16px;
  color: rgba(0,0,0,0.45);
  cursor: pointer;
  &:hover {
    color: rgba(0,0,0,0.65);
  }
}